
/* *****Burger Menu********** */

#burger-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100;
    cursor: pointer;
}

#burger-menu input {
    display: none;
}

#burger-menu label {
    display: block;
    width: 30px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    box-sizing: border-box;
}

.menu {
    position: fixed;
    top: 50px;
    right: 20px;
    background: #a45c5c;
    display: none;
    flex-direction: column;
    padding: 10px 0;
}

.menu a {
    text-decoration: none;
    color:  #FAF8F2;
    padding: 10px 20px;
    display: block;
}

#burger-menu input:checked ~ .menu {
    display: flex;
}


/* ************LOGIN AND CART MOBILE************* */

#login {
    position: absolute;
    display: flex;
    align-items: center;
    border-style: solid;
    font-size: 15px;
    border-width: 2px;
    border-color: #FAF8F2;
    color: #FAF8F2;
    padding: 8px;
    top: 15px;
    right: 40px;
    width: 40px;
    height: 10px;
    z-index: 12;
}

#cart {
    position: absolute;
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: #FAF8F2;
    border-radius: 20px;
    padding: 8px;
    top: 15px;
    left: 5px;
    width: 40px;
    height: 10px;
    z-index: 11;
}

#cart:hover, #login:hover {
    background-color: #c16e6e;
    cursor: pointer;
}

#cart img {
    width: 60%;
}

#cart p {
    color: #FAF8F2;
}


@media (min-width: 1200px) {
    #cart {
        top: 15px;
        left: 1100px;
    }

    #login {
        right: 50px;
    }
}
/* ******LOGO***** */


#logo {
    position: absolute;
    top: 5px;
    z-index: 10;
}










/* ******Header********** */

header{
        background-color: #C87D87;
        height: 60px;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center; 
        justify-content: center; 
        top: 0;
        left: 0;
        z-index: 99;
    
}


/* FOOTER */
.footer {
    display: flex;
    justify-content: space-between;
    text-align: left;
    background-color: #f8e4e4;
    color: #a45c5c;
    margin-top: 20px;
}

footer p{
    padding: 10px;
}

.SOME{
    display: flex;
    flex-direction: column;
}

.SOME img{
    margin: 1em;
}