body {
    background-color: #FAF8F2;
    margin: 0;
    width: 100%;
    }

.hero {
    width: 100%;
    height: auto;
    position: relative;
}

.hero img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#choose-grid {
    padding: 20px;
    margin: 15px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 10px;
    justify-items: center;
    gap: 20px;
    margin: 0 auto;
    }

.card {
    display: grid;
  grid-template-rows: subgrid;
  grid-row: span 4;
    background-color: #C87D87;
    padding: 15px;margin: 0;
    width: 80%;
    color: #FAF8F2;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
}

.card img {
    max-width: 100%;
}

.button {
    background-color: #FAF8F2;
    color: #C87D87;
    border: none;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.button:hover {
    background-color: #fce9e1d7;
}


